nav
  .menu-icon
    i.fa.fa-bars
  .logo
    a(style='text-decoration: none; ', href='index') ENGLISH FOR YOU
  ul
    li
      a(href='waitingpage') Words Explain
    li
      a(href='chat') Chat
    li
      a(href='test') Listen
    li
      .user-icon
        a #{user.name}
        .drop-down
          a.active.logout Logout

